{
    "openapi": "3.0.1",
    "info": {
        "title": "igt-public-api-v1",
        "description": "This specification contains <b>V1</b> version of merged publicly exposed Anywhere API and PlayDigital API<br/><br/>To avoid name clash in schemas section duplicated objects in PlayDigital API were prefixed with interactive<br/><br/>For example interactiveErrorDTO",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://ltt01mp-apimprod01.azure-api.net/api/v1"
        }
    ],
    "paths": {
        "/draw-games/wagers": {
            "get": {
                "summary": "getWagers",
                "description": "Gets historical wagers.  Returns a list of previously played wager details\n from a back end historical store of wagers.\n\nError Codes:\nWAGER_NOT_FOUND ",
                "operationId": "getWagers",
                "parameters": [
                    {
                        "name": "date-from",
                        "in": "query",
                        "description": "Format - int64. Paging start date",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date-to",
                        "in": "query",
                        "description": "Format - int64. Paging end date",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "game-name",
                        "in": "query",
                        "description": "List of game names as comma separated values.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "draw-id",
                        "in": "query",
                        "description": "Format - int32. Draw id to restrict results",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "draw-id-from",
                        "in": "query",
                        "description": "Format - int32. Paging start draw id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "draw-id-to",
                        "in": "query",
                        "description": "Format - int32. Paging end draw id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - int32. Size of the elements in the page to be returned",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status of the wager",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wagers requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WagerPageDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "post": {
                "summary": "placeWagers",
                "description": "Places basket of wagers.\n Performs the same operations as checkWager and makes the transactions with host.\n\nError Codes:\nPLAYER_NOT_FOUND \nMONTHLY_SPENDING_LIMIT_EXCEEDED \nPAYMENT_ALREADY_PERFORMED \nPAYMENT_NOT_FOUND \nPOCKET_LIMITS_EXCEEDED \nDAILY_SPENDING_LIMIT_EXCEEDED \nINVALID_WALLET_STATE \nWEEKLY_SPENDING_LIMIT_EXCEEDED \nINVALID_OPERATION \nINSUFFICIENT_FUNDS \nPAYMENT_FAILED \nPAYMENT_LIMITS_EXCEEDED \nPLAYER_LOCKED \nMISSING_PROMOTION_DATA \nPAYMENT_INVALID ",
                "operationId": "placeWagers",
                "requestBody": {
                    "description": "Basket of wagers",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/WagerDTO"
                                },
                                "description": "Represents a wager for a draw"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Basket of wagers with status of placing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/WagerDTO"
                                    },
                                    "description": "Represents a wager for a draw"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/wagers/check": {
            "post": {
                "summary": "checkWagers",
                "description": "Checks basket of wagers without placing them.\n Validates the format of the DTOs and verifies the draw is playable\n and the wager could be valid, but does not make a transaction with host.",
                "operationId": "checkWagers",
                "requestBody": {
                    "description": "Basket of wagers",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/WagerDTO"
                                },
                                "description": "Represents a wager for a draw"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Basket of wagers with status of check",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/WagerDTO"
                                    },
                                    "description": "Represents a wager for a draw"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/transaction-lookup": {
            "post": {
                "summary": "lookupTransaction",
                "description": "Lookup a transaction using a request id supplied by the client\n at the time of the transaction.\n\nError Codes:\nGAME_NOT_FOUND \nWAGER_NOT_FOUND \nDRAW_NOT_ACTIVE ",
                "operationId": "lookupTransaction",
                "parameters": [
                    {
                        "name": "X-Originator-Id",
                        "in": "header",
                        "description": "A comma separated list of third party\n ids, such as retailer, store, pos, and teller, that the request is on behalf of.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Session-Id",
                        "in": "header",
                        "description": "A comma separated list of channel, terminal,\n and sequence number.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "A comma separated list of request ID and\n time-stamp.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Transaction to lookup.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransactionLookupDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The transaction details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransactionLookupDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/oauth/self/tokens": {
            "put": {
                "summary": "refreshToken",
                "description": "Returns a new refresh token when passed an existing one.<br/>\n \n The following attribute should be populated in the TokenDTO.<br/>\n \n siteId, token, clientId <br/>\n \n The method will return a pair of new tokens.<br/>\n\nError Codes:\nINVALID_REFRESH_TOKEN \nINVALID_CLIENT_ID \nTOKEN_LIMIT_EXCEEDED ",
                "operationId": "refreshToken",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TokenDTO"
                            },
                            "example": {
                                "siteId": "string",
                                "scope": [
                                    "string"
                                ],
                                "clientId": "string",
                                "clientCredentials": {},
                                "authCode": "string",
                                "token": "string",
                                "tokenType": "string",
                                "tokenParams": {},
                                "resourceOwnerCredentials": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An OAuth refresh token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TokenDTO"
                                    },
                                    "description": "Encapsulates the details for an OAuth token, contains both the data required to use a token and to create one."
                                },
                                "example": [
                                    {
                                        "siteId": "string",
                                        "scope": [
                                            "string"
                                        ],
                                        "clientId": "string",
                                        "clientCredentials": {},
                                        "authCode": "string",
                                        "token": "string",
                                        "tokenType": "string",
                                        "tokenParams": {},
                                        "resourceOwnerCredentials": {}
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "post": {
                "summary": "generateToken",
                "description": "Returns an OAuth token from a one-time authCode.<br/>\n \n The following attribute should be populated in the TokenDTO.<br/>\n \n authCode, scope, clientId, clientCredentials<br/>\n \n The method will return two tokens: an access token and a refresh token.<br/>\n\nError Codes:\nNOT_AUTHORIZED \nINVALID_CLIENT_ID \nTOKEN_LIMIT_EXCEEDED ",
                "operationId": "generateToken",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TokenDTO"
                            },
                            "example": {
                                "siteId": "string",
                                "scope": [
                                    "string"
                                ],
                                "clientId": "string",
                                "clientCredentials": {},
                                "authCode": "string",
                                "token": "string",
                                "tokenType": "string",
                                "tokenParams": {},
                                "resourceOwnerCredentials": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OAuth tokens",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TokenDTO"
                                    },
                                    "description": "Encapsulates the details for an OAuth token, contains both the data required to use a token and to create one."
                                },
                                "example": [
                                    {
                                        "siteId": "string",
                                        "scope": [
                                            "string"
                                        ],
                                        "clientId": "string",
                                        "clientCredentials": {},
                                        "authCode": "string",
                                        "token": "string",
                                        "tokenType": "string",
                                        "tokenParams": {},
                                        "resourceOwnerCredentials": {}
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "authCode not valid"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "delete": {
                "summary": "deleteToken",
                "description": "Delete a token if the OAuth server supports it.\n\nError Codes:\nTOKEN_NULL_OR_EMPTY ",
                "operationId": "deleteToken",
                "responses": {
                    "200": {
                        "description": "OAuth Token deleted successfully"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/oauth/self/tokens/access": {
            "delete": {
                "summary": "deleteAccessToken",
                "description": "Delete user's access token.",
                "operationId": "deleteAccessToken",
                "responses": {
                    "200": {
                        "description": "OAuth Token deleted successfully"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/oauth/self/tokens/refresh": {
            "delete": {
                "summary": "deleteRefreshToken",
                "description": "Delete user's refresh token.",
                "operationId": "deleteRefreshToken",
                "responses": {
                    "200": {
                        "description": "User's refresh token deleted successfully"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/oauth/login": {
            "post": {
                "summary": "login",
                "description": "Returns OAuth tokens or authorization code if the player's\n credentials are correct. \n \n The following attribute should be populated in the TokenDTO.<br/>\n \n clientId, resourceOwnerCredentials<br/>\n \n The method will return a single TokenDTO with the authCode, or\n if an implicit grant is allowed, the method will return two \n tokens: an access token and a refresh token.<br/>\n\nError Codes:\n7 TC_NOT_ACCEPTED \n3 PLAYER_NOT_FOUND \n4 PLAYER_NOT_ACTIVE \n5 INCORRECT_X_DEVICE_NAME_HEADER \n-1 GENERIC_ERROR \n1 SESSION_LIMITS_EXCEEDED \nINVALID_CLIENT_ID \n6 PLAYER_BLACKLISTED \n8 PLAYER_LOCKED \n9 PLAYER_UNDERGOING_CLOSURE_PROCESS \nTOKEN_LIMIT_EXCEEDED ",
                "operationId": "login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TokenDTO"
                            },
                            "example": {
                                "siteId": "string",
                                "scope": [
                                    "string"
                                ],
                                "clientId": "string",
                                "clientCredentials": {},
                                "authCode": "string",
                                "token": "string",
                                "tokenType": "string",
                                "tokenParams": {},
                                "resourceOwnerCredentials": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OAuth authorization code or tokens",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TokenDTO"
                                    },
                                    "description": "Encapsulates the details for an OAuth token, contains both the data required to use a token and to create one."
                                },
                                "example": [
                                    {
                                        "siteId": "string",
                                        "scope": [
                                            "string"
                                        ],
                                        "clientId": "string",
                                        "clientCredentials": {},
                                        "authCode": "string",
                                        "token": "string",
                                        "tokenType": "string",
                                        "tokenParams": {},
                                        "resourceOwnerCredentials": {}
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "authCode not valid"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/games": {
            "get": {
                "summary": "getGames",
                "description": "Provides information about the games available via the\n other draw-games resources.\n\nError Codes:\nGAME_NOT_FOUND ",
                "operationId": "getGames",
                "parameters": [
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "Optional channel name game information is for",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "a list of game information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GamePageDTO"
                                },
                                "example": {
                                    "nextPageUrl": "string",
                                    "previousPageUrl": "string",
                                    "pageUrls": {},
                                    "nextItems": 0,
                                    "previousItems": 0,
                                    "games": [
                                        {
                                            "gameId": "string",
                                            "gameName": "string",
                                            "validationStatus": "NOT_ACTIVE",
                                            "ticketPrice": 0,
                                            "launchDate": 0,
                                            "startDistributionDate": 0,
                                            "endDistributionDate": 0,
                                            "disableDate": 0,
                                            "preCallDate": 0,
                                            "numberOfTicketsInPack": 0,
                                            "totalTicket": 0,
                                            "overallOdds": "string",
                                            "featured": true,
                                            "prizeTiers": [
                                                {
                                                    "tierNumber": 0,
                                                    "prizeAmount": 0,
                                                    "winningTickets": 0,
                                                    "paidTickets": 0,
                                                    "prizeDescription": "string"
                                                }
                                            ],
                                            "lastUpdatedTime": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "a list of game information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GamePageDTO"
                                },
                                "example": {
                                    "nextPageUrl": "string",
                                    "previousPageUrl": "string",
                                    "pageUrls": {},
                                    "nextItems": 0,
                                    "previousItems": 0,
                                    "games": [
                                        {
                                            "gameId": "string",
                                            "gameName": "string",
                                            "validationStatus": "NOT_ACTIVE",
                                            "ticketPrice": 0,
                                            "launchDate": 0,
                                            "startDistributionDate": 0,
                                            "endDistributionDate": 0,
                                            "disableDate": 0,
                                            "preCallDate": 0,
                                            "numberOfTicketsInPack": 0,
                                            "totalTicket": 0,
                                            "overallOdds": "string",
                                            "featured": true,
                                            "prizeTiers": [
                                                {
                                                    "tierNumber": 0,
                                                    "prizeAmount": 0,
                                                    "winningTickets": 0,
                                                    "paidTickets": 0,
                                                    "prizeDescription": "string"
                                                }
                                            ],
                                            "lastUpdatedTime": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/locations": {
            "get": {
                "summary": "getLocations",
                "description": "Gets a page of lottery locations",
                "operationId": "getLocations",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Location type to restrict results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postal-codes",
                        "in": "query",
                        "description": "Comma separated list of postal codes to restrict results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "City to restrict results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "game-ids",
                        "in": "query",
                        "description": "Commas separated list of instant game numbers to restrict results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "draw-game-ids",
                        "in": "query",
                        "description": "Commas separated list of draw game names to restrict results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lucky",
                        "in": "query",
                        "description": "Restrict results to lucky locations",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "assisted",
                        "in": "query",
                        "description": "Restrict results to locations with assisted checkout",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "self-service",
                        "in": "query",
                        "description": "Restrict results to locations with self-checkout",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "monitor-display",
                        "in": "query",
                        "description": "Restrict results to locations with a monitor game display",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "ticket-self-check",
                        "in": "query",
                        "description": "Restrict results to locations with a ticket self-check device",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "smoking-allowed",
                        "in": "query",
                        "description": "Restrict results to locations that allow or ban smoking",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sells-draw-games",
                        "in": "query",
                        "description": "Restrict results to locations that sell or do not sell draw games",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sells-instant-games",
                        "in": "query",
                        "description": "Restrict results to locations that sell or do not sell instant games",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "cashing-agent",
                        "in": "query",
                        "description": "Restrict results to locations that are cashing agents",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "Restrict results to locations with winner awareness information in the region",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "winners-game-id",
                        "in": "query",
                        "description": "Restrict results to locations with winner awareness information for given instant game number or online game name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Comma separated list of status to restrict results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "origin",
                        "in": "query",
                        "description": "Comma separated latitude and longitude in decimal degrees or zip code to use as the origin for distance ordering of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bounds",
                        "in": "query",
                        "description": "Format - int64. Restrict the results to locations within the given distance to the origin point in meters",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - int32. Set results page size",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lenient",
                        "in": "query",
                        "description": "If true, unmatched constraints will still return locations. By default matching is strict",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A page of locations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LocationPageDTO"
                                },
                                "example": {
                                    "nextPageUrl": "string",
                                    "previousPageUrl": "string",
                                    "pageUrls": {},
                                    "nextItems": 0,
                                    "previousItems": 0,
                                    "locations": [
                                        {
                                            "name": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "A page of locations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LocationPageDTO"
                                },
                                "example": {
                                    "nextPageUrl": "string",
                                    "previousPageUrl": "string",
                                    "pageUrls": {},
                                    "nextItems": 0,
                                    "previousItems": 0,
                                    "locations": [
                                        {
                                            "name": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/draws": {
            "get": {
                "summary": "getDraws",
                "description": "Gets draws filtering by game-names.\n There are 4 times of searches:\n <ul>\n <li><b>Current open draws:</b> when no parameters are informed except game-names, size and lang</li>\n <li><b>Date span search:</b> when date-from and date-to are both informed. It returns the draws between the dates informed</li>\n <li><b>Day offset:</b> when previous-days and next-days are both informed. It returns the draws between the offset informed where current date is the reference date</li>\n <li><b>Draw offset:</b> when previous-draws and next-draws are both informed. It returns the draws between the offset informed where current open draw is the reference draw. This search should be restricted to a single game since draws for different games might be different.</li>\n </ul>\n\nError Codes:\nVALIDATION_ERROR ",
                "operationId": "getDraws",
                "parameters": [
                    {
                        "name": "game-names",
                        "in": "query",
                        "description": "List of game names as comma separated values. If not informed all draws for all games will be returned",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date-from",
                        "in": "query",
                        "description": "Format - int64. Starting date to be used by date span draw searches (date-to has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date-to",
                        "in": "query",
                        "description": "Format - int64. Ending date to be used by date span draw searches (date-from has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "previous-days",
                        "in": "query",
                        "description": "Format - int32. Amount of previous days from today to be used by day offset searches (next-days has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "next-days",
                        "in": "query",
                        "description": "Format - int32. Amount of next days from today to be used by day offset searches (previous-days has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "previous-draws",
                        "in": "query",
                        "description": "Format - int32. Amount of previous draws from current open draw to be used by draw offset searches (next-draws has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "next-draws",
                        "in": "query",
                        "description": "Format - int32. Amount of next draws from current open draw to be used by draw offset searches (previous-draws has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start-draw",
                        "in": "query",
                        "description": "Format - int32. Starting draw number",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "end-draw",
                        "in": "query",
                        "description": "Format - int32. Ending draw number",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Draw status to restrict results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - int32. Size of the elements in the page to be returned",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language in which to return names",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "A comma separated list of winning selections to be used to filter draw result searches",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "secondary-selections",
                        "in": "query",
                        "description": "A comma separated list of winning secondary selections to be used to filter draw result searches",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bet-type",
                        "in": "query",
                        "description": "The bet type to used to filter draw results searches, along with selections",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "exclude-prize-tiers",
                        "in": "query",
                        "description": "If true, do not include prize tier information in response",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of draws requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DrawPageDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "List of draws requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DrawPageDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/draws/page": {
            "get": {
                "summary": "getDrawsPaginated",
                "description": "Gets draws filtering by game-names.\n There are 4 times of searches:\n <ul>\n <li><b>Current open draws:</b> when no parameters are informed except game-names, size and lang</li>\n <li><b>Date span search:</b> when date-from and date-to are both informed. It returns the draws between the dates informed</li>\n <li><b>Day offset:</b> when previous-days and next-days are both informed. It returns the draws between the offset informed where current date is the reference date</li>\n <li><b>Draw offset:</b> when previous-draws and next-draws are both informed. It returns the draws between the offset informed where current open draw is the reference draw. This search should be restricted to a single game since draws for different games might be different.</li>\n </ul>\n\nSupports pagination\n\nError Codes:\nVALIDATION_ERROR ",
                "operationId": "getDrawsPaginated",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. Number of page to be return.",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 0
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - int32. Amount of records on page to be returned. Defines offset if 'page' greater than 1. ",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    },
                    {
                        "name": "game-names",
                        "in": "query",
                        "description": "List of game names as comma separated values. If not informed all draws for all games will be returned",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date-from",
                        "in": "query",
                        "description": "Format - int64. Starting date to be used by date span draw searches (date-to has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date-to",
                        "in": "query",
                        "description": "Format - int64. Ending date to be used by date span draw searches (date-from has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "previous-days",
                        "in": "query",
                        "description": "Format - int32. Amount of previous days from today to be used by day offset searches (next-days has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "next-days",
                        "in": "query",
                        "description": "Format - int32. Amount of next days from today to be used by day offset searches (previous-days has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "previous-draws",
                        "in": "query",
                        "description": "Format - int32. Amount of previous draws from current open draw to be used by draw offset searches (next-draws has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "next-draws",
                        "in": "query",
                        "description": "Format - int32. Amount of next draws from current open draw to be used by draw offset searches (previous-draws has to be informed as well)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start-draw",
                        "in": "query",
                        "description": "Format - int32. Starting draw number",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "end-draw",
                        "in": "query",
                        "description": "Format - int32. Ending draw number",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Draw status to restrict results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language in which to return names",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "A comma separated list of winning selections to be used to filter draw result searches",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "secondary-selections",
                        "in": "query",
                        "description": "A comma separated list of winning secondary selections to be used to filter draw result searches",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bet-type",
                        "in": "query",
                        "description": "The bet type to used to filter draw results searches, along with selections",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "exclude-prize-tiers",
                        "in": "query",
                        "description": "If true, do not include prize tier information in response",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of draws requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DrawPageDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "List of draws requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DrawPageDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/draws/{game-name}/{id}": {
            "get": {
                "summary": "getDraw",
                "description": "Gets draw by game name and draw id.\n\nError Codes:\nVALIDATION_ERROR ",
                "operationId": "getDraw",
                "parameters": [
                    {
                        "name": "game-name",
                        "in": "path",
                        "description": "Game name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Draw id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "Language in which to return names",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Draw requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DrawDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Draw requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DrawDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/favorite-wagers/groups": {
            "get": {
                "summary": "getFavoriteWagerGroupss",
                "description": "Gets user's favorite wager groups.",
                "operationId": "getFavoriteWagerGroupss",
                "responses": {
                    "200": {
                        "description": "Page of favorite wager groups",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FavoriteWagerGroupPageDTO"
                                },
                                "example": {
                                    "nextPageUrl": "string",
                                    "previousPageUrl": "string",
                                    "pageUrls": {},
                                    "nextItems": 0,
                                    "previousItems": 0,
                                    "favoriteWagerGroups": [
                                        {
                                            "id": "string",
                                            "name": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "post": {
                "summary": "createFavoriteWagerGroup",
                "description": "Creates an empty favorite wager group.\n\nError Codes:\nFAVORITE_GROUP_ALREADY_EXISTS ",
                "operationId": "createFavoriteWagerGroup",
                "requestBody": {
                    "description": "Favorite group wager to be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FavoriteWagerGroupDTO"
                            },
                            "example": {
                                "id": "string",
                                "name": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created favorite wager group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FavoriteWagerGroupDTO"
                                },
                                "example": {
                                    "id": "string",
                                    "name": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/favorite-wagers/wagers": {
            "get": {
                "summary": "getFavoriteWagers",
                "description": "Gets user's favorite wagers.",
                "operationId": "getFavoriteWagers",
                "parameters": [
                    {
                        "name": "group",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "game-names",
                        "in": "query",
                        "description": "List of game names as comma separated values.  Filters returned\n favorite wagers by game name.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Page of favorite wagers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FavoriteWagerPageDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "post": {
                "summary": "createFavoriteWager",
                "description": "Creates a favorite wager. If only the group name is set in the request, \n an empty group is created.\n\nError Codes:\nFAVORITE_WAGER_INVALID \nMAX_FAVORITE_BOARDS_EXCEEDED \nWager cannot be added to Favorite Group \nMAX_FAVORITES_EXCEEDED ",
                "operationId": "createFavoriteWager",
                "requestBody": {
                    "description": "Favorite wager to be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FavoriteWagerDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created favorite wager",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FavoriteWagerDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/favorite-wagers/groups/{id}": {
            "get": {
                "summary": "getFavoriteWagerGroup",
                "description": "Returns user's favorite wager group by id.",
                "operationId": "getFavoriteWagerGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Favorite wager group id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Favorite wager group requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FavoriteWagerGroupDTO"
                                },
                                "example": {
                                    "id": "string",
                                    "name": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "put": {
                "summary": "updateFavoriteWagerGroup",
                "description": "Updates the name of a favorite wager group.",
                "operationId": "updateFavoriteWagerGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Favorite group wager to be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FavoriteWagerGroupDTO"
                            },
                            "example": {
                                "id": "string",
                                "name": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated favorite wager group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FavoriteWagerGroupDTO"
                                },
                                "example": {
                                    "id": "string",
                                    "name": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "delete": {
                "summary": "deleteFavoriteWagerGroup",
                "description": "Deletes user's favorite wager group.\n\nError Codes:\nENTITY_NOT_FOUND ",
                "operationId": "deleteFavoriteWagerGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Favorite wager id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Favorite wager group deleted successfully"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/favorite-wagers/wagers/{id}": {
            "get": {
                "summary": "getFavoriteWager",
                "description": "Returns user's favorite wager by id.",
                "operationId": "getFavoriteWager",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Favorite wager id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Favorite wager requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FavoriteWagerDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "put": {
                "summary": "updateFavoriteWager",
                "description": "Updates user's favorite wager by id.\n\nError Codes:\nWager cannot be added to Favorite Group \nFAVORITE_WAGER_INVALID ",
                "operationId": "updateFavoriteWager",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Favorite wager id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Favorite wager to be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FavoriteWagerDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated favorite wager",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FavoriteWagerDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "delete": {
                "summary": "deleteFavoriteWager",
                "description": "Deletes user's favorite wager by id.",
                "operationId": "deleteFavoriteWager",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Favorite wager id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User's favorite wager deleted successfully"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/subscriptions": {
            "get": {
                "summary": "getSubscriptions",
                "description": "Gets all user's subscriptions.\n\nError Codes:\nMISSING_PLAYER_DATA ",
                "operationId": "getSubscriptions",
                "parameters": [
                    {
                        "name": "game-names",
                        "in": "query",
                        "description": "Names of games to get subscriptions for",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "description": "Comma separated list of statuses to limit results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of subscriptions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionPageDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "post": {
                "summary": "createSubscription",
                "description": "Adds user's subscription.\n\nError Codes:\nPLAYER_NOT_FOUND \nMONTHLY_SPENDING_LIMIT_EXCEEDED \nPAYMENT_ALREADY_PERFORMED \nPAYMENT_NOT_FOUND \nPOCKET_LIMITS_EXCEEDED \nMISSING_PLAYER_DATA \nDRAW_TOO_ADVANCED \nDAILY_SPENDING_LIMIT_EXCEEDED \nINVALID_WALLET_STATE \nGAME_NOT_FOUND \nESTE_CLIENT_EXCEPTION \nMISSING_REQUEST_DATA \nWEEKLY_SPENDING_LIMIT_EXCEEDED \nINVALID_OPERATION \nPAYMENT_FAILED \nINSUFFICIENT_FUNDS \nPAYMENT_LIMITS_EXCEEDED \nVALIDATION_ERROR \nPLAYER_LOCKED \nPAYMENT_INVALID ",
                "operationId": "createSubscription",
                "requestBody": {
                    "description": "Subscription to be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created subscription",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/subscriptions/{id}": {
            "get": {
                "summary": "getSubscription",
                "description": "Returns user's subscription by id.\n\nError Codes:\nMISSING_REQUEST_DATA \nMISSING_PLAYER_DATA \nINCORRECT_PLAYER_ID \nINVALID_SUBS_ID ",
                "operationId": "getSubscription",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Subscription id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subscription requested",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            },
            "put": {
                "summary": "updateSubscription",
                "description": "Updates user's subscription by id.\n\nError Codes:\nINVALID_SUB_ID \nGAME_NOT_FOUND \nMISSING_REQUEST_DATA \nMISSING_PLAYER_DATA \nINVALID_SUBSCRIPTION_STATE ",
                "operationId": "updateSubscription",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Subscription object to be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated subscription",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/draw-games/subscriptions/{id}/wagers": {
            "get": {
                "summary": "getSubscriptionWagers",
                "description": "Gets wagers correlated with particular user's subscription.",
                "operationId": "getSubscriptionWagers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date-from",
                        "in": "query",
                        "description": "Format - int64. Paging start date",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date-to",
                        "in": "query",
                        "description": "Format - int64. Paging end date",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "description": "Comma separated list of statuses to limit results to",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort-by",
                        "in": "query",
                        "description": "Field that should be used for sorting",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort-ascending",
                        "in": "query",
                        "description": "use ascending sort",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. page number ,starts with 0",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - int32. Size of the elements in the page to be returned",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "paginated list of subscription wagers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WagerPageDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/gaming-system/uid": {
            "post": {
                "summary": "createUid",
                "description": "Generate UID for use by client with the gaming system.\n\nError Codes:\nNOT_AUTHORIZED ",
                "operationId": "createUid",
                "parameters": [
                    {
                        "name": "X-Originator-Id",
                        "in": "header",
                        "description": "A comma separated list of third party\n ids, such as retailer, store, pos, and teller, that the request is on behalf of.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "UID request.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UidDTO"
                            },
                            "example": {
                                "type": "string",
                                "uid": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The UID response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UidDTO"
                                },
                                "example": {
                                    "type": "string",
                                    "uid": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later"
                    }
                }
            }
        },
        "/random/quickpicks": {
            "post": {
                "summary": "getQuickPicks",
                "description": "Generates of set of quick pick boards. All requested boards are returned \n or none are returned. Partial responses are not allowed.",
                "operationId": "getQuickPicks",
                "requestBody": {
                    "description": "The requested boards",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QuickPickDTO"
                            },
                            "example": {
                                "requestId": "string",
                                "generatorId": "string",
                                "generatorVersion": "string",
                                "timeStamp": 0,
                                "boardSpecs": [
                                    {
                                        "numberOfBoards": 0,
                                        "numberOfSelections": 0,
                                        "rangeMin": 0,
                                        "rangeMax": 0,
                                        "withReplacement": true,
                                        "rangeExclusions": [
                                            0
                                        ],
                                        "frequency": [
                                            0
                                        ],
                                        "probabilityWeight": [
                                            0
                                        ],
                                        "sortOrder": "ASCENDING",
                                        "boards": [
                                            [
                                                0
                                            ]
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The generated boards included in each board spec",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuickPickDTO"
                                },
                                "example": {
                                    "requestId": "string",
                                    "generatorId": "string",
                                    "generatorVersion": "string",
                                    "timeStamp": 0,
                                    "boardSpecs": [
                                        {
                                            "numberOfBoards": 0,
                                            "numberOfSelections": 0,
                                            "rangeMin": 0,
                                            "rangeMax": 0,
                                            "withReplacement": true,
                                            "rangeExclusions": [
                                                0
                                            ],
                                            "frequency": [
                                                0
                                            ],
                                            "probabilityWeight": [
                                                0
                                            ],
                                            "sortOrder": "ASCENDING",
                                            "boards": [
                                                [
                                                    0
                                                ]
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "User not authenticated"
                    },
                    "500": {
                        "description": "System exception"
                    },
                    "503": {
                        "description": "System not available. Retry later."
                    }
                }
            }
        },
        "/instant-games/games": {
            "get": {
                "summary": "getInstantGames",
                "description": "Returns a list of game summaries.",
                "operationId": "getInstantGames",
                "parameters": [
                    {
                        "name": "query-type",
                        "in": "query",
                        "description": "type of query to execute.  Valid values are BY_GAME_ID_RANGE, BY_LAUNCH_DATE_RANGE, \n BY_START_DISTRIBUTION_DATE_RANGE, BY_END_DISTRIBUTION_DATE_RANGE, BY_DISABLED_DATE_RANGE,\n BY_PRICE_POINT_RANGE, and BY_REMAINING_PAYOUTS.  If the queryType parameter is not provided, then\n the game summary for all available games will be returned.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "game-id-from",
                        "in": "query",
                        "description": "Format - int32. start game id for the BY_GAME_ID_RANGE search.  If the gameIdFrom parameter is \n not provided for the BY_GAME_ID_RANGE search, then the lowest game id available will be used.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "game-id-to",
                        "in": "query",
                        "description": "Format - int32. end game id for the BY_GAME_ID_RANGE search.  If the gameIdTo parameter is \n not provided for the BY_GAME_ID_RANGE search, then the highest game id available will be used.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date-from",
                        "in": "query",
                        "description": "Format - int64. start date for the BY_LAUNCH_DATE_RANGE, BY_START_DISTRIBUTION_DATE_RANGE, \n BY_END_DISTRIBUTION_DATE_RANGE, or BY_DISABLED_DATE_RANGE search.  If the dateFrom parameter is \n not provided for the date search, then the lowest date available will be used.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date-to",
                        "in": "query",
                        "description": "Format - int64. end date for the BY_LAUNCH_DATE_RANGE, BY_START_DISTRIBUTION_DATE_RANGE, \n BY_END_DISTRIBUTION_DATE_RANGE, or BY_DISABLED_DATE_RANGE search.  If the dateTo parameter is \n not provided for the date search, then the highest date available will be used.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "amount-from",
                        "in": "query",
                        "description": "Format - int64. start amount for the BY_PRICE_POINT_RANGE or BY_REMAINING_PAYOUTS search.\n If the amountFrom parameter is not provided for the amount search, then the lowest amount available\n will be used.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "amount-to",
                        "in": "query",
                        "description": "Format - int64. end amount for the BY_PRICE_POINT_RANGE or BY_REMAINING_PAYOUTS search. If the \n amountTo parameter is not provided for the amount search, then the highest amount available\n will be used.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Format - int32. number of results to be returned",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "the summary lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GamePageDTO"
                                },
                                "example": {
                                    "nextPageUrl": "string",
                                    "previousPageUrl": "string",
                                    "pageUrls": {},
                                    "nextItems": 0,
                                    "previousItems": 0,
                                    "games": [
                                        {
                                            "gameId": "string",
                                            "gameName": "string",
                                            "validationStatus": "NOT_ACTIVE",
                                            "ticketPrice": 0,
                                            "launchDate": 0,
[...]
